{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   is_front:
 */
#}
{# defining the macro #}

{% macro rendli(menuItem) %}
    <li><a href="{{ menuItem.url }}">{{ menuItem.title }}</a></li>
{% endmacro %}

{% macro generateSubMenu(name, item) %}
    <li><a class="dropdown-button" data-activates="{{ name|lower }}">{{ name }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    <ul id="{{ name|lower }}" class="dropdown-content">
        {% for i in item %}
            <li><a href="{{ i.url }}">{{ i.title }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro generateSubMenuMobile(name, item) %}
    <li><a class="dropdown-button" data-activates="{{ name|lower }}-mobile">{{ name }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    <ul id="{{ name|lower }}-mobile" class="dropdown-content">
        {% for i in item %}
            <li><a href="{{ i.url }}">{{ i.title }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}


{% import _self as menu %}

<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<ul class="right hide-on-med-and-down">
    {% for item in items %}
        {% if item.below %}
            {{ menu.generateSubMenu(item.title, item.below) }}
            {#<li><a class="dropdown-button" data-activates="{{ item.title|lower }}">{{ item.title }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>#}
            {#<ul id="{{ item.title|lower }}" class="dropdown-content">#}
                {#{% for i in item.below %}#}
                    {#<li><a href="{{ i.url }}">{{ i.title }}</a></li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {% else %}
            {{  menu.rendli(item) }}
        {% endif %}
    {% endfor %}
</ul>
<ul class="side-nav" id="mobile-demo">
    {% for item in items %}
        {% if item.below %}
            {{ menu.generateSubMenuMobile(item.title, item.below) }}
        {% else %}
        {{  menu.rendli(item) }}
        {% endif %}
    {% endfor %}
</ul>